<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scooby Snax</title>

        <link rel="stylesheet" type = "text/css" href = "style.css">

    </head>

    <body id = "superstyle">
        <h1>Findr</h1>
        <h2>find anything</h2>
        <img src = "images/scooby1.jpg" alt="a marvelous pic of scooby">
        <div id = "creepy">
        <%= yield %>
        </div>
    </body>

</html>
